* {
    box-sizing: border-box;
}

body {
    background-color: #bababa;
    height: 100%;
    position: relative;
    margin: 0;
}

.main-container {
    font-family: Ubuntu, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    padding-bottom: 100px;
}

.main-container h1 {
    font-size: 64px;
    text-align: center;
}

/*Styling the form */

.meme-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100%;
}

.memeform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:24px;
    width: 600px;
}

.form-labels {
    font-family: Ubuntu, sans-serif;
    padding-left: 4px;
    color: white;
    align-self: flex-start;
}

.input-url, .input-top, .input-bottom {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-appearance: none;
    box-shadow: 4px 4px 2px 0px #888d8f;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
}

.submit-button {
    background-color:#8a8c96;
    color:white;
    border: solid white 3px;
    padding: 12px;
    font-size: 20px;
    border-radius: 12px;
    align-self:center;
    margin-bottom: 8px;
    -webkit-appearance: none;
    box-shadow: 4px 4px 4px #616361;
    border: 0;
    cursor: pointer;
}


.submit-button:hover {
    /* opacity: 0.8; */
    box-shadow: 5px 5px 5px #bcf65a; 
}
/* Styling the meme container */

.meme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100%;
    margin-top:32px;
}

.memeform {
    display: flex;
    flex-direction: column;
    margin: 4px;
}


.meme-img {
    position:relative;
    height: 320px;
    width: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
    text-align: center;
    animation: meme-display ease-in-out 400ms;
}

@keyframes meme-display {
    0% {
        opacity: 0;   
      }
    
      100% {
        opacity: 1;    
      }
}

.meme-img:hover {
    opacity: 0.8;
}

@supports (-webkit-text-stroke: 1.5px black) {
    .text {
        width: 100%;
        align-items: center;
        font-size: 54px;
        font-family: Impact, Arial;
        color: black;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: black 1.5px;
    }
}

.top-text  {
    position: absolute;
    top:0;
}

.bottom-text {
    position: absolute;
    bottom: 0;
}

.delete-x {
    display: none;
}

.delete-x--open {
    display:block;
    position: absolute;
    color: white;
    border: solid white 3px;
    right: 0;
    top: 0;
    font-size: 44px;
    padding:4px;
}

.delete-x--open:hover {
    cursor: pointer;
}


#scrollBtn {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    
}
#scrollBtn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.kat-link {
    text-decoration: none;
    color: white;
}

.kat-link:hover {
    color:#bcf65a;
}

@media screen and (max-width: 800px) {
    .main-container {
        max-width: 100%;
        margin: 8px 0;
    }

    .main-container h1 {
        font-size: 44px;
    }

    .meme-form {
        max-width:100%;
    }

    .memeform {
        max-width: 360px;
    }

    .meme-img {
        max-height: 240px;
        max-width:360px;
    }
    .scroll-icon {
        width:48px;
        height:48px;
    }
}


 

  